.nb-container {
  padding: 10rem;
}

.login-container {
  color: white;
  border-radius: 10px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* min-width: 28%; */
  width: 30%;
  min-width: 300px;
  margin: 0 auto;
  /* padding-top: 10rem; */
}

.login-container h2 {
  background-color: #5643fa;
  margin: 0;
  padding: 2rem;
}

form {
  background-color: #e7e6e6;
  padding: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.form-control-group {
  margin-bottom: 1rem;
}

.label {
  color: #999;
  font-size: 1.2rem;
  font-weight: 500;
  display: inline-block;
}

.input {
  display: inline-block;
  width: 100%;
  padding: 0.2rem;
  border-radius: 5px;
  border: none;
  color: #999;
  border-bottom: 2px solid transparent;
}

.invalid-input {
  border-bottom: 2px solid #fb1d09;
}

.error-message {
  font-family: sans-serif;
  color: #fb1d09;
  font-weight: 700;
  margin: 0;
  padding-top: 0.5rem;
  font-size: 0.9rem;
}

.input:focus-visible {
  outline: none;
  border-bottom: 2px solid #5643fa;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5rem;
}

.button {
  border-radius: 5px;
  padding: 0.25rem 0.6rem;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: sans-serif;
  border: none;
  margin: 8px;
}

.button-disabled {
  background-color: #999;
}

.button-ingresar {
  background-color: #ffb900;
  transition: all 0.3s;
}

.button-ingresar:hover {
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.button-registrarse {
  background-color: #55c57a;
  transition: all 0.3s;
}

.button-registrarse:hover {
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
