<div class="aside _bg-blue">
  <div class="text-white text-center my-3">
    <h3>Finance</h3>
  </div>

  <ul class="_fw500">
    <li class="text-white clickable px-4 py-2" routerLink="/app" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="mr-3"><i class="bi bi-house-door"></i></span>
      <span>Dashboard</span>
    </li>
    <li class="text-white clickable px-4 py-2" routerLink="/app/accounts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="mr-3"><i class="bi bi-wallet"></i></span>
      <span>Cuentas</span>
    </li>
  </ul>
</div>
