.container {
  width: 80%;
  display: grid;
  grid-template-columns: minmax(400px, 60%) minmax(300px, 1fr);
  grid-template-rows: max-content 1fr;
  grid-gap: 20px;
  margin-top: 5rem;
}

.acciones {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.button {
  border-radius: 10px;
  padding: 0.25rem 0.6rem;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: sans-serif;
  border: none;
  margin: 8px;
  transition: all 0.3s;
}

.button-ingreso {
  background-color: #55c57a;
}

.button-ingreso i {
  margin-right: 0.5rem;
}
.button-ingreso:hover,
.button-gasto:hover,
.button-transferencia:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.button-gasto {
  background-color: #ff4130;
}

.button-transferencia {
  background-color: #ffb900;
}

.detalle-container {
  width: 100%;
  margin: auto;
  border-radius: 10px;
  background-color: #e7e6e6;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  padding-bottom: 2rem;
}

.detalle-header {
  background-color: #5643fa;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.detalle-header p {
  margin: 0;
  /* color: #55c57a; */
  font-weight: 700;
  font-size: 2rem;
}

.movimientos {
  max-height: 400px;
  min-height: 400px;
  overflow: auto;
}

.detalle-movimiento {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #dadada;
}

.movimiento-header h4 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.movimiento-header span {
  font-size: 0.9rem;
  font-weight: 700;
  color: #999;
}

.movimiento-categorias {
  display: flex;
  align-items: center;
}

.banner {
  padding: 0.2rem 0.6rem;
  border-radius: 7px;
  color: white;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  margin-top: 5px;
}

.banner-gasto {
  background-color: #ff4130;
}
.banner-ingreso {
  background-color: #55c57a;
}

.banner-transferencia {
  background-color: #2998ff;
}

.banner-categoria {
  background-color: #ffb900;
}

.movimiento-monto {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem;
}

.movimiento-gasto {
  color: #ff4130;
}

.movimiento-ingreso {
  color: #55c57a;
}

.movimiento-transferencia {
  color: #2998ff;
}

.opciones-container {
  /* border: 1px solid black; */
  background-color: #e7e6e6;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
