.container {
  width: 50%;
  margin-top: 5rem;
}

.acciones {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.movimientos {
  max-height: 400px;
  min-height: 400px;
  overflow: auto;
}

.movimiento-gasto {
  color: #ff4130;
}

.movimiento-ingreso {
  color: #55c57a;
}

.movimiento-transferencia {
  color: #2998ff;
}

.opciones-container {
  background-color: #e7e6e6;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
