<div class="card">
  <div class="card-body bg-white rounded">
    <div class="card-title my-0">
      <div class="d-flex align-items-center justify-content-between">
        <h3>Cuentas</h3>
        <button class="btn btn-blue text-white" (click)="onAddAccount()">Agregar</button>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let account of accounts" class="list-group-item d-flex justify-content-between align-items-center hoverable clickable text-black-50" (click)="onShowAccountDetail(account.id)">
      <div class="d-flex flex-column">
        <span class="color-primary _fw500">{{ account.nombre }}</span>
        <span class="_fs14 _fw500 text-black-50">Ult. movimiento 24/03/2022</span>
      </div>
      <div class="font-weight-bold">
        <span class="mr-2">${{ account.saldo }}</span>
        <span class="_fs14"><i class="bi bi-chevron-right"></i></span>
      </div>
    </li>
  </ul>
</div>
