<div class="px-5">

  <div class="row my-3">
     <div class="col-12">
        <div class="py-4 d-flex justify-content-between align-items-center rounded">
           <h3 class="text--50">Detalle de cuenta</h3>
          <div>
             <button class="btn btn-secondary mr-2" (click)="addMovement({name: 'transfer', id: 3})">Transferencia</button>
             <button class="btn btn-secondary mr-2" (click)="addMovement({name: 'outcome', id: 2})">Gasto</button>
             <button class="btn btn-blue text-white" (click)="addMovement({name: 'income', id: 1})">Ingreso</button>
          </div>
        </div>
     </div>
  </div>

  <div class="row my-3">
    <div class="col-12 d-flex justify-content-between">
      <div class="card mr-3" style="width: 100%;">
        <div class="p-2">
          <div class="card-body">
            <div class="d-flex">
              <div class="mr-3">
                <div class="_bg-blue text-white p-3 rounded">
                  <span class="font-weight-bold"><i class="bi bi-graph-up-arrow"></i></span>
                </div>
              </div>
              <div class="d-flex flex-column">
                <span class="_fw500 text-black-50">Total de Ingresos</span>
                <span class="_fs22 _fw600">$18900</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer _bg-blue-light-1 border-top-0">
          <div class="p2 clickable">
            <span class="_fw600 _fs16 color-primary">Ver todos</span>
          </div>
        </div>
      </div>

      <div class="card mr-3" style="width: 100%;">
        <div class="p-2">
          <div class="card-body">
            <div class="d-flex">
              <div class="mr-3">
                <div class="_bg-blue text-white p-3 rounded">
                  <i class="bi bi-graph-down-arrow"></i>
                </div>
              </div>
              <div class="d-flex flex-column">
                <span class="_fw500 text-black-50">Total de Gastos</span>
                <span class="_fs22 _fw600">$1200</span>
              </div>
            </div>
        </div>
        </div>
        <div class="card-footer _bg-blue-light-1 border-top-0">
          <div class="p2 clickable">
            <span class="_fw600 _fs16 color-primary">Ver todos</span>
          </div>
        </div>
      </div>

      <div class="card" style="width: 100%;">
         <div class="p-2">
           <div class="card-body">
             <div class="d-flex">
               <div class="mr-3">
                 <div class="_bg-blue text-white p-3 rounded">
                  <i class="bi bi-arrow-left-right"></i>
                 </div>
               </div>
               <div class="d-flex flex-column">
                 <span class="_fw500 text-black-50">Importe transferido</span>
                 <span class="_fs22 _fw600">$1200</span>
               </div>
             </div>
         </div>
         </div>
         <div class="card-footer _bg-blue-light-1 border-top-0">
           <div class="p2 clickable">
             <span class="_fw600 _fs16 color-primary">Ver detalle</span>
           </div>
         </div>
       </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-12 col-md-12">
      <div class="">
        <div class="bg-white shadow-sm" style="height: 100%;">
          <div class="_bg-blue text-white p-2 d-flex justify-content-between align-items-center">
            <h2>{{ accountName }}</h2>
            <p class="_fs22 my-0">${{ saldoCuenta }}</p>
          </div>

          <div class="movimientos bg-white">
            <div class="clickable hoverable d-flex justify-content-between align-items-center p-2" style="border-bottom: 1px solid #e9ecef;" *ngFor="let mov of movements">
              <div class="">
                <h4 class="_fs18 m-0">{{ mov.name | titlecase }}</h4>
                <div class="_fs14" style="color: #868e96;">
                  <span class="">{{ mov.category.name | titlecase }}</span>
                </div>
              </div>
              <div class="d-flex _fw500 align-items-center _fs18"
              >
              <span class="mr-2" [ngClass]="{
                'movimiento-ingreso': mov.type.id === 1,
                'movimiento-gasto': mov.type.id === 2,
                'movimiento-transferencia': mov.type.id == 3
              }">${{ mov.amount }}</span>

              <div class="btn-group" dropdown placement="bottom right">
                <div class="" role="button" dropdownToggle>
                  <span class="_fs18"><i class="bi bi-three-dots-vertical"></i></span>
                </div>

                <div id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
                    <button class="dropdown-item" type="button" (click)="onEditMovement(mov.id, mov.type)">Editar</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item btn-danger" type="button">Eliminar</button>
                </div>
              </div>

            </div>
            </div>
          </div>
        </div>
    </div>

  </div>
</div>
